.title{
    text-align: center;
    font-weight: 700;
    font-size: 50px;
    text-transform: capitalize;
    margin-bottom: 25px;
}

.todoWrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px; 
}

.form{
    display: flex;
    gap: 10px;
    justify-content: center;
}