:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #33382e;
}

.title--green {
  color: #829460;
}

.input {
  background-color: #829460;

  &::placeholder {
    color: aliceblue;
  }

  &:disabled {
    background-color: #829460;
  }
}

.button {
  background-color: #829460;
}

.todo {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.btns {
  background-color: transparent;
  border: 0;
  color: red;
  font-size: 1.3rem;
  cursor: pointer;
}

.grey {
  color: grey;
  cursor: not-allowed;
}

.green {
  color: green;
}

.text-cross {
  transition: .2s all;
  text-decoration-line: line-through;
  text-decoration-style: solid;
  text-decoration-color: rgba(255, 0, 0, 0.781);
  text-decoration-thickness: 4px;
}

// checkbox from https://uiverse.io/G4b413l/giant-panther-83

.switch input {
  display: none;
}

.switch {
  width: 30px;
  height: 15px;
  position: relative;
}

.slider {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 30px;
  box-shadow: 0 0 0 2px #777, 0 0 4px #777;
  cursor: pointer;
  border: 4px solid transparent;
  overflow: hidden;
  transition: 0.2s;
}

.slider:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: #777;
  border-radius: 30px;
  transform: translateX(-30px);
  /*translateX(-(w-h))*/
  transition: 0.2s;
}

input:checked+.slider:before {
  transform: translateX(15px);
  /*translateX(w-h)*/
  background-color: limeGreen;
}

input:checked+.slider {
  box-shadow: 0 0 0 2px limeGreen, 0 0 8px limeGreen;
}

.switch200 .slider:before {
  width: 200%;
  transform: translateX(-82px);
  /*translateX(-(w-h))*/
}

.switch200 input:checked+.slider:before {
  background-color: red;
}

.switch200 input:checked+.slider {
  box-shadow: 0 0 0 2px red, 0 0 8px red;
}


// sections with some btns
.about-sec {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.delete-sec {
  position: fixed;
  bottom: 20px;
  left: 20px;
}

// BTN from https://codepen.io/yuhomyan/pen/OJMejWJ
// Modifited
.custom-btn {
  z-index: 2;
  width: 130px;
  height: 40px;
  color: black;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
}

.btn {
  background: #829460;
  line-height: 42px;
  padding: 0;
  border: none;
}

.custom-btn__span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

.btn:before,
.btn:after {
  position: absolute;
  content: "";
  right: 0;
  bottom: 0;
  background: #829460;
  transition: all 0.3s ease;
}

.btn:before {
  height: 0%;
  width: 2px;
}

.btn:after {
  width: 0%;
  height: 2px;
}

.btn:hover {
  color: #829460;
  background: transparent;
}

.btn:hover:before {
  height: 100%;
}

.btn:hover:after {
  width: 100%;
}

.custom-btn__span:before,
.custom-btn__span:after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  background: #829460;
  transition: all 0.3s ease;
}

.custom-btn__span:before {
  width: 2px;
  height: 0%;
}

.custom-btn__span:after {
  height: 2px;
  width: 0%;
}

.custom-btn__span:hover:before {
  height: 100%;
}

.custom-btn__span:hover:after {
  width: 100%;
}

.blackBack {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 3;
}

.aboutInfo {
  position: fixed;
  max-width: 500px;
  width: 100%;
  padding: 15px;
  background-color: aliceblue;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 20px;
  z-index: 4;
}

li {
  list-style-position: inside;
  list-style-type: circle;
}