:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #33382e;
}

.title--green {
  color: #829460;
}

.input {
  width: 50%;
  background-color: #829460;
  
  &::placeholder {
    color: aliceblue;
  }
  
  &:disabled{
    background-color: #829460;
  }
}

.input-edit{
  width: 20%;
}

.button {
  background-color: #829460;
}

.todo {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.btn {
  background-color: transparent;
  border: 0;
  color: red;
  font-size: 1.3rem;
  cursor: pointer;
}

.todo-check{
  scale: 180%
}

.grey{
  color: grey;
  cursor: not-allowed;
}

.green {
  color: green;
}