.list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border: 1px solid aliceblue;
    padding: 25px;
    border-radius: 10px;
    max-height: 700px;
    overflow: auto;
    
}