@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;800;900&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    color: #4F4F4F;
}

.container {
    margin: 0 auto;
    width: 1200px;
    padding: 0;
}



.header {

    &__logo {
        margin-top: 50px;
    }


}

.title {
    font-weight: 800;
    font-size: 60px;
    line-height: 118.5%;
    color: #4D6BB9;
    margin-bottom: 30px;
}

.moving-service {

    &-wrap {
        display: flex;
        flex-direction: column;
        padding-top: 285px;
    }

    &__bg {
        position: absolute;
        top: 0;
        width: 100%;
        height: 840px;
        background: url(assets/images/header-bg.jpg) no-repeat center;
        padding-top: 50px;
        z-index: -1;
    }

    &__title {
        width: 475px;
        font-weight: 800;
        font-size: 60px;
        line-height: 118.5%;
        color: #FFFFFF;
        margin-bottom: 30px;
    }

    &__text {
        width: 370px;
        font-weight: 600;
        line-height: 17px;
        color: #FFFFFF;
        margin-bottom: 63px;
    }

    &__btn {
        background-color: #EFD063;
        color: #333333;
    }

    &__btn-text {
        color: #FFFFFF;
    }
}

.btn {
    width: 170px;
    height: 60px;
    border-radius: 30px 30px 0px 0px;
    border: 0;
    font-weight: 700;
    font-size: 14px;
    line-height: 118.5%;

    &-wrap {
        display: flex;
        flex-direction: row;
        gap: 36px;
        align-items: center;
    }

    &-text {
        font-weight: 700;
        font-size: 14px;
        line-height: 118.5%;
    }

    &:hover,
    &:active,
    &:focus {
        transition: .2s;
        opacity: .90;
    }
}


.hero {
    margin-bottom: 310px;

    &-wrap {
        position: relative;
    }

    &__card {
        width: 620px;
        background-color: #FFFFFF;
        box-shadow: 0px 4px 50px rgba(77, 107, 185, 0.15);
        border-radius: 30px;
    }

    &__card-lorem {
        padding: 94px 142px 0 70px;
        position: absolute;
        top: -230px;
        right: 0;
        height: 465px;
    }

    &__card-text {
        max-height: 160px;
        margin-bottom: 50px;
    }

    &__btn {
        background-color: #4D6BB9;
        color: #FFFFFF;
    }

    &__btn-text {
        color: #4D6BB9;
    }
}

.about-us {
    &__wrap {
        position: relative;
        height: 445px;
        background: url(assets/images/about-us-bg.jpg) no-repeat bottom;
    }

    &__items {
        position: absolute;
        top: -145px;
    }

    &__text {
        max-width: 400px;
    }
}

.family {
    &__wrap {
        width: 620px;
        height: 250px;
        position: relative;
        margin: 0 auto;
    }

    &__card {
        position: absolute;
        top: -150px;
        height: 403px;
        padding: 50px 50px 0 50px;
        background: #ffffff;
        box-shadow: 0px 4px 50px rgba(77, 107, 185, 0.15);
        border-radius: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__card-title {
        text-align: center;
    }

    &__card-text {
        text-align: center;
        width: 520px;
        margin-bottom: 30px;
    }

    &__btn {
        background: #4D6BB9;
        color: #FFFFFF;
    }
}

.services {

    &__wrap {
        position: relative;
        margin-top: 80px;
        margin-bottom: 50px;
        padding-top: 50px;

        &::after {
            content: "";
            position: absolute;
            top: 0;
            background-color: #4D6BB9;
            width: 100%;
            height: 220px;
            z-index: -1;
        }
    }

    &__title {
        font-weight: 800;
        font-size: 60px;
        line-height: 118.5%;
        color: #ffffff;
        margin-bottom: 40px;
    }

    &__cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 50px;
    }

    &__card-items {
        width: 385px;
        height: 505px;
        background: #FFFFFF;
        box-shadow: 0px 4px 50px rgba(77, 107, 185, 0.15);
        border-radius: 30px;
    }

    &__card-image {
        border-radius: 30px 30px 0 0;
        margin-bottom: 30px;
    }

    &__card-title {
        margin-left: 30px;
        margin-bottom: 10px;
        font-weight: 900;
        font-size: 16px;
        line-height: 24px;
        color: #294283;
    }

    &__card-text {
        margin: 0 30px;
        font-weight: 400;
        line-height: 20px;
        color: #404C6B;
    }

    &__button {
        display: flex;
        justify-content: center;
        margin-bottom: 50px;
    }

    &__btn {
        background: #4D6BB9;
        border-radius: 30px;
        color: #ffffff;
    }
}

.footer {
    &__wrap {
        position: relative;
        width: 100%;
        background: #F2F2F2;
        padding-top: 50px;
        padding-bottom: 195px;

        &::after{
            position: absolute;
            bottom: 0;
            content: "";
            width: 100%;
            height: 145px;
            background: #2D3751;
        }
    }

    &__title {
        font-weight: 800;
        font-size: 60px;
        line-height: 118.5%;
        color: #4D6BB9;
        text-align: center;
        margin-bottom: 50px;
    }

    &__contact {
        display: flex;
        flex-direction: row;
        gap: 100px;
        align-items: center;
        justify-content: center;
    }

    &__input-list {
        width: 375px;
        display: flex;
        flex-direction: column;
        gap: 14px;
        align-items: center;
    }

    &__input {
        width: 100%;
        height: 55px;
        background: #9FB1DE;
        border: 0;
        border-radius: 61px;
        padding-left: 20px;
        color: #294283;
        font-size: 20px;
        &::placeholder{
            font-size: 20px;
            color: #294283;
        }
    }

    &__btn {
        width: 170px;
        height: 55px;
        background: transparent;
        border: 3px solid #4D6BB9;
        border-radius: 61px;
        color: #294283;
        font-size: 20px;
    }

    &__contact-info-list{
        display: flex;
        flex-direction: column;
        gap: 30px;
        font-weight: 400;
        color: #4D6BB9;
    }

    &__contact-info{
        height: 20px;
        padding-left: 44px;
    }

    &__contact-info--mail{
        background: url(assets/svg/mail-ico.svg) no-repeat left;
    }

    &__contact-info--tel{
        background: url(assets/svg/tel-ico.svg) no-repeat left;
    }
    &__contact-info--location{
        background: url(assets/svg/position-ico.svg) no-repeat left;
    }
}