@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

* {
    box-sizing: border-box;
}

html.light{
    --color-bg: #FAFAFA;
    --color-menu: #FFFFFF;
    --color-input-area: #FAFAFA;
    --color-input-placeholder: #BAB9BD;
    --color-default-text: #130F1C;
    --color-forgot-text: #651FFF;
    --color-line: #ECECEE;
    --color-link-button: #FFFFFF;
    --color-info: #130F1C;
}

html.dark {
    --color-bg: #130F1C;
    --color-menu: #1F1B29;
    --color-input-area: #2E2A36;
    --color-input-placeholder: #99969E;
    --color-default-text: #BAB9BD;
    --color-forgot-text: #BAB9BD;
    --color-line: #635F6B;
    --color-link-button: #2E2A36;
    --color-info: #99969E;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--color-default-text);
}



//cantainer

.container {
    max-width: 875px;
    margin: 0 auto;
    background: var(--color-bg);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;

    &.--large {
        height: 760px;
    }

    &.--extra-large {
        height: 810px;
    }
}

//menu background

.menu-bg {
    background: var(--color-menu);
    border-radius: 10px;
    padding: 30px;
    box-shadow: 40px 40px 60px rgba(0, 0, 0, 0.1);

    &.--large {
        width: 430px;
        height: 555px;
    }

    &.--extra-large {
        width: 665px;
        height: 600px;
    }

    &.contact-us-two__menu {
        padding: 0;
    }

    &.checkout__menu-bg {
        max-height: 710px;
    }
}

//form list

.form-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

//text label

.text-label {

    &.--large {
        width: 290px;
    }

    &.--small {
        width: 185px;
    }

    &.--extra-small {
        width: 140px;
    }
}

//different input areas

.input-area {
    height: 48px;
    background-color: var(--color-input-area);
    border: 0;
    border-radius: 5px;
    padding: 12px 14px 12px 12px;
    color: var(--color-input-placeholder);
    cursor: default;

    &.--normal {
        width: 100%;
    }

    &.--medium {
        width: 290px;
    }

    &.--small {
        width: 185px;
    }

    &.--extra-small {
        width: 140px;
    }
}

// sign up form div

.sign-up__form {
    margin-bottom: 32px;
}

// subscribe to news

.switch-label {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.sign-up__form-sub-news {
    font-size: 14px;
    line-height: 20px;
}

.switch {
    display: none;
}

.fake-switch {
    position: relative;
    display: inline-block;
    width: 28px;
    height: 16px;
    background: #E9E9E9;
    border-radius: 10px;
    transition: .3s;


    &::before {
        content: '';
        position: absolute;
        top: 2px;
        left: 2px;
        display: block;
        width: 12px;
        height: 12px;
        background-color: white;
        border-radius: 50%;
        transition: .3s;
    }
}

.switch:checked+.fake-switch {
    transition: .3s;
    background-color: #FD7918;
}

.switch:checked+.fake-switch::before {
    top: 2px;
    left: 14px;
    transition: .3s;
}

// Sumbit button

.submit-button {
    height: 48px;
    background: #651FFF;
    border: 0;
    border-radius: 5px;
    color: white;

    &.--small {
        width: 140px;
    }

    &:hover,
    &:active,
    &:focus {
        transition: .2s;
        opacity: .85;
    }
}

//sing up footer

.sing-up__footer {
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
}

.forgot-pass {
    color: var(--color-forgot-text);

    &:hover {
        opacity: .80;
    }
}

//Grey underline

.grey-underline {
    width: 100%;
    height: 2px;
    background: var(--color-line);
    border-radius: 11px;
}


.sing-up__footer-continue-other {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

//text or continue with

.or-continue-with {
    color: #5A5761;
    text-align: center;
}

// Other metod to sign up

.button-link {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--color-link-button);
    border: 0;
    border-radius: 5px;

    &:hover,
    &:active,
    &:focus {
        transition: .2s;
        opacity: .85;
    }
}

.sing-up__footer-button {
    margin-right: 16px;
    width: 175px;
    height: 50px;

    &:last-child {
        margin: 0;
    }
}

.sing-up__footer-continue-other-wrap {
    display: flex;
    flex-direction: row;
}

// contact us form list

.contact-us-one__form-list {
    margin-top: 32px;

}

//Contact Us text

.contact-us-text {
    font-size: 32px;
    line-height: 125%;
    letter-spacing: -0.02em;
    color: var(--color-info-title);
}

.input-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

//checkbox label

.checkbox-label {
    height: 55px;
    padding-top: 23px;
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
}

//checkbox 

.checkbox {
    display: none;
}

.fake-checkbox {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid #D3D3D3;
    border-radius: 4px;
    background-color: white;
}

.checkbox:checked+.fake-checkbox {
    border: #FD7918;
    background: url(assets/svg/check-mark.svg) no-repeat center #FD7918;
}

//text area

.text-area {
    background-color: var(--color-input-area);
    border-radius: 5px;
    padding: 8px 2px 2px 12px;
    color: #99969E;
    border: 0;
    resize: none;

    &.--large {
        width: 600px;
        height: 100px;
    }

    &.--medium {
        width: 385px;
        height: 85px;
    }
}

.contact-us-one__form-sumbit {
    margin-top: 16px;
    align-self: flex-end;
}

// contact us two

.contact-us-two__menu {
    display: flex;
    flex-direction: row;
}

.contact-us-two__info {
    width: 215px;
    display: flex;
    flex-direction: column;
    background-color: #651FFF;
    padding: 46px 16px 32px;
    gap: 32px;
    border-radius: 10px 0px 0px 10px;
    padding: 46px 16px 0 16px;
    color: #FFFFFF;
}

.contact-us-two__form {
    width: 450px;
    padding: 32px;
}

.contact-us-two__info-contacts {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.contact-us-two-ico {
    padding-right: 8px;
}

.contact-us-two__form-list {
    margin-top: 32px;
}

.contact-us-two__form-sumbit {
    margin-top: 16px;
    align-self: flex-end;
}

//checkout

.menu-bg.checkout__menu-bg{
    height: 510px;
}

.checkout-wrap {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.checkout-text {
    font-size: 32px;
    line-height: 40px;
    color: var(--color-info);
    letter-spacing: -0.02em;
}

.checkout__details-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

// order details

.checkout__details-order {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 290px;
}

.checkout__details-order-item {
    padding-left: 56px;
}

.checkout__details-order-text {
    font-size: 20px;
    line-height: 28px;
    letter-spacing: -0.02em;
    color: var(--color-info);
}

.checkout-info-list {
    display: flex;
    flex-direction: column;
    gap: 4px;
    font-size: 14px;
    line-height: 20px;
    color: #5A5761;
}

.order-item-name {
    font-size: 16px;
    line-height: 24px;
    color: var(--color-info);
}

.checkout__details-line{
    display: none;
}

.order-item-prop{
    display: flex;
    flex-direction: column;
    gap: 4px;
}

//delivery details

.checkout__details-delivery {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 290px;
}

.checkout__details-delivery-text {
    font-size: 20px;
    line-height: 28px;
    letter-spacing: -0.02em;
    color: var(--color-info);
}

.checkout__details-delivery-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.delivery-info-user-name {
    font-size: 16px;
    line-height: 24px;
    color: var(--color-info);
}

.delivery-info-shiping-title {
    font-size: 16px;
    line-height: 24px;
    color: var(--color-info);
}

//payment

.checkout__payment {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.checkout__payment-title {
    font-size: 20px;
    line-height: 28px;
    letter-spacing: -0.02em;
}

.checkout__payment-input-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.payment-input-list {
    display: flex;
    flex-direction: row;
}

.payment-text-label {
    margin-right: 8px;

    &.none {
        margin: 0;
    }
}

.checkout__payment-form-sumbit {
    align-self: flex-end;
    margin-top: 16px;
}

.checkout__payment-form-select {
    width: 100%;
}

//For phone resolution

@media screen and (max-width: 768px) {

    .menu-bg.--extra-large {
        max-width: 345px;
        height: 750px;
    }

    .contact-us-one__input-list {
        flex-direction: column;
        gap: 16px;
    }

    .text-area.--large {
        width: 280px;
    }

    .contact-us-two__info {
        display: none;
    }

    .text-area.--medium {
        width: 280px;
    }

    .text-label.--small {
        width: 280px;
    }

    .input-area.--small {
        width: 280px;
    }

    .input-area.--medium {
        width: 280px;
    }
    .input-area.--extra-small {
        width: 150px;
    }

    .submit-button.--small {
        margin: 0;
        width: 280px;
    }

    .input-list {
        flex-direction: column;
        justify-content: none;
        gap: 16px;
    }

    .checkbox-label{
        padding-top: 9px;
    }
    .checkout__details-list {
        flex-direction: column;
        gap: 32px;
        justify-content: none;
    }
    
    .checkout__details-line{
        display: block;
    }

    .checkout__details-order-item{
        display: flex;
        flex-direction: column;
    }

    .order-item-prop{
        width: 180px;
        flex-direction: row;
        justify-content: space-between;
    }

    .payment-input-list{
        width: 310px;
        display: grid;
        grid-template-columns: 150px 150px;
        grid-row: 50% 50%;
        row-gap: 8px;
        justify-content: space-between;
    }

    .payment-text-label{
        margin: 0;

        &.payment{
            grid-column-end: span 2
        }

        &.fname {
            width: 150px
        }

        &.lname{
            grid-column: 2;
            grid-row: 2;
            width: 150px
        }
    }
    
    .checkout__menu-bg{
        padding: 16px;
    }

    .checkout__payment{
        width: 310px;
    }

    .checkout__payment-form-sumbit{
        width: 310px;
    }

    .submit-button.--small.--checkout {
        margin-top: 16px;
        width: 310px;
    }
}