@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #BAB9BD;
}

.container {
    max-width: 875px;
    margin: 0 auto;
    background: #130F1C;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

    &.--large{
        height: 760px;
    }
}

.menu-bg{
    background: #1F1B29;
    border-radius: 10px;
    padding: 30px;

    &.--large{
        width: 430px;
        height: 555px;
    }
}

//sign up input 

.sign-up__form-input{
    display: flex;
    flex-direction: column;
    gap:16px;
    margin-bottom: 25px;
}

//different input areas

.input-area{
    background-color:#2e2a36;
    border: 0;
    border-radius: 5px;
    padding: 12px 14px 12px 12px;
    color: #99969E;

    &.--normal{
        width: 100%;
        height: 48px;
    }
}