.card-item__wrap {
    width: 100%;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
    cursor: pointer;
    transition: background-color .2s;
}

.card-item__title,
.card-item__price {
    font-weight: 900;
    color: aliceblue;
    font-size: 2rem;
    user-select: none;
}