.movie-form__wrap{
    position: absolute;
    z-index: 10;
    top: 25px;
    left: 50%;
    transform: translateX(-50%);
    background-color: aliceblue;
    padding: 10px;
    border-radius: 10px;
    max-width: 500px;
    width: 100%;
}

.movie-form__title{
    text-transform: capitalize;
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
}

.movie-form__form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}