<div class="movie-form__wrap">
    <h4 class="movie-form__title">add movie</h4>
    <form class="movie-form__form" [formGroup]="movieForm" (ngSubmit)="onSubmit()">
        <app-input 
            label="title" 
            [control]="movieForm.controls.title" 
            inputId="1" 
            type="text"
            placeholder="Movie title..."
        />
        <app-input 
            label="year" 
            [control]="movieForm.controls.year" 
            inputId="2" 
            type="number"
            placeholder="Year of issue..."
        />
        <app-input 
            label="image" 
            [control]="movieForm.controls.image" 
            inputId="3" 
            type="text"
            placeholder="Movie image URL..."
        />
        <app-button 
            label="create" 
            [disabled]="movieForm.invalid"
        />
    </form>
</div>