@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    font-family: 'Inter', sans-serif;

}

/* avatar  */

.avatar__background {
    background-color: black;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    position: relative;
}

.avatar__name {
    font-size: 16px;
    color: white;
    position: absolute;
    padding: 12px 12px;
}

.avatar__num-value-back {
    background-color: grey;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    position: relative;
    left: 24px;
    top: 1px;

}

.avatar__num-value {
    font-size: 13px;
    position: absolute;
    left: 5px;
}

/* badge  */

.badge__background {
    background-color: black;
    width: 36px;
    height: 24px;
    border-radius: 12px;
}

.badge__value {
    color: white;
    font-size: 16px;
    padding: 3px 8px;
}

/* breadcrumbs  */

.breadcrumbs-wrap {
    max-width: 68px;
    max-height: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.breadcrumbs__text {
    font-size: 16px;
    line-height: 100%;
    font-weight: 300;
}

/* button */

.button-wrap {
    display: flex;
    align-items: center;
    width: 116px;
    height: 40px;
    background-color: black;
    cursor: pointer;
}

.button__text {
    font-size: 16px;
    line-height: 100%;
    color: white;
    font-weight: 300;
    padding-left: 8px;
}

.button__plus {
    padding-left: 16px;
}

.button__arrow-r {
    padding-left: 8px;
}

/* checkbox */

.checkbox-wrap {
    display: flex;
    width: 86px;
    height: 36px;
    align-items: center;
    justify-content: space-between;
}

.checkbox__text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 60px;
    height: 36px;
    padding: 0px;
    gap: 8px;
}

.checkbox__text-main {
    width: 36px;
    height: 16px;
    font-size: 16px;
    line-height: 100%;
    font-weight: 400;
    margin: 0;
}

.checkbox__text-title {
    width: 60px;
    height: 12px;
    font-weight: 400;
    font-size: 12px;
    line-height: 100%;
    color: #777777;
    margin: 0;
}

#check {
    display: none;
    margin: 0;
}

#check+.label-check {
    display: block;
    width: 14px;
    height: 14px;
    border: 2px solid #000000;
    margin-bottom: 18px;
    cursor: pointer;
}

#check:checked+.label-check {
    background: url(img/Vector.svg) no-repeat center black;
}

/* chip */

.chip-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 116px;
    height: 36px;
    background-color: black;
    border-radius: 20px;
}

.chip__square {
    width: 28px;
    height: 28px;
    background: #777777;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.chip__avatar-text {
    color: white;
    font-weight: 400;
    font-size: 12px;
}

.chip__text {
    max-width: 36px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: white;
}


.chip__square.close {
    margin-right: 6px;
}

.chip__square.avatar {
    margin-left: 6px;
}

/* divider */

.divider-wrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 283px;
    height: 28px;
    justify-content: space-between;
}

.divider__line {
    width: 103px;
    height: 0px;
    border-top: 1px solid #CCCCCC;
}

.divider__input-button {
    width: 61px;
    height: 28px;
    background: #000000;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.divider__text {
    max-width: 27px;
    font-weight: 400;
    font-size: 12px;
    color: white;
    cursor: default;
}

/* input  */

.input-wrap {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    width: 320px;
    height: 94px;
}

.input__hint-wrap {
    display: flex;
    width: 320px;
    height: 24px;
    justify-content: space-between;
}

.hint-text {
    font-weight: 400;
    font-size: 16px;
}

.input__content-wrap {
    display: flex;
    width: 320px;
    height: 46px;
    border: 1px solid #000000;
    align-items: center;
}

.input__content-mail {
    width: 24px;
    height: 24px;
    margin-left: 17px;
}

.input__content-dollar {
    width: 24px;
    height: 24px;
    margin-left: 9px;
}

.input__content-input {
    width: 116px;
    height: 24px;
    border: 0;
    margin-left: 8px;
}

.input__content-eye {
    width: 24px;
    height: 24px;
    margin-left: 8px;
}

.input__content-button {
    width: 68px;
    height: 32px;
    background-color: black;
    margin-left: 8px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
}

.input__content-button-text {
    color: white;
}

.input__help-text {
    font-size: 12px;
}

/* link  */

.link-wrapper {
    display: flex;
    align-items: center;
    width: 46px;
    justify-content: space-between;
}

.link__link {
    color: black;
}

.link-wrapper:hover,
.link-wrapper:focus,
.link-wrapper:active {
    cursor: pointer;
}

/* pagination */

.pagination-wrap {
    display: flex;
    align-items: center;
    max-width: 224px;
    max-height: 32px;
}

.pagination__arrow-l {
    width: 32px;
    height: 32px;
    border: 1px solid #000000;
    background: url(img/pag-chevron-left.svg) no-repeat center white;
    cursor: pointer;
}

.pagination__arrow-r {
    width: 32px;
    height: 32px;
    border: 1px solid #000000;
    background: url(img/pag-chevron-right.svg) no-repeat center white;
    cursor: pointer;
}

.pagination__section {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 32px;
    height: 32px;
    font-size: 12px;
    cursor: pointer;
    border: 1px solid #ffffff
}

.pagination__arrow-l:hover,
.pagination__arrow-l:focus,
.pagination__arrow-l:active {
    background: url(img/pag-chevron-left-w.svg) no-repeat center rgb(0, 0, 0);
}

.pagination__arrow-r:hover,
.pagination__arrow-r:focus,
.pagination__arrow-r:active {
    background: url(img/pag-chevron-right-w.svg) no-repeat center rgb(0, 0, 0);
}

.pagination__section:hover,
.pagination__section:focus,
.pagination__section:active {
    color: white;
    background-color: black;
    border: 1px solid #000000;
}

/* radio */

.radio-wrap {
    width: 86px;
    height: 36px;
    display: flex;
    justify-content: space-between;
}

.radio__text {
    width: 60px;
    height: 36px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.radio__text-second {
    font-size: 12px;
    color: #777777;
}

.radio__radio {
    display: none;
}

.radio-label {}

.radio-fake {
    display: inline-block;
    width: 14px;
    height: 14px;
    border: 2px solid #000000;
    position: relative;
    border-radius: 50%;
    cursor: pointer;
}

.radio-fake::before {
    content: '';
    position: absolute;
    display: block;
    width: 10px;
    height: 10px;
    background-color: black;
    border-radius: 50%;
    opacity: 0;
    transition: 0.2s;
    top: 2px;
    left: 2px;
}

.radio__radio:checked+.radio-fake::before {
    opacity: 1;
}

/* tabs */

.tabs-wrap-row {
    display: flex;
    flex-wrap: wrap;
    width: 342px;
}

.tabs__item-row {
    width: 68px;
    height: 72px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid #CCCCCC;
}

.tabs__item-label {
    width: 36px;
    height: 16px;
}

.tabs__item-settings {
    padding-top: 8px;
    padding-bottom: 8px;
}

.tabs__item-row:focus,
.tabs__item-row:active,
.tabs__item-row:hover {
    border-bottom: 2px solid #000000;
    font-weight: 700;
    cursor: pointer;
}

.tabs-wrap-col{
    display: flex;
    flex-direction: column;
    width: 98px;
    height: 280px;
}

.tabs__item-col{
    width: 98px;
    height: 56px;
    border-right: 1px solid #CCCCCC;
    display: flex;
    align-items: center;
}

.tabs__item-settings-col {
    padding: 16px 8px 16px 16px;
}

.tabs__item-col:focus,
.tabs__item-col:active,
.tabs__item-col:hover {
    border-right: 2px solid #000000;
    font-weight: 700;
    cursor: pointer;
}