.itemWrap {
    padding: 5px;
    border-bottom: 1px solid aliceblue;
    font-size: 1.5rem;

    &:last-child {
        border: 0;
    }
}

.itemMain {
    display: grid;
    grid-template-columns: 1fr 2fr 3fr 1fr;
    margin-bottom: 10px;
    align-items: center;
    gap: 10px;
}

.itemMore {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.checkbox {
    cursor: pointer;
    display: none;
    position: absolute;
}

.fakeCheckbox {
    cursor: pointer;
    display: flex;

    &::before {
        content: '';
        width: 20px;
        height: 20px;
        border: 1px solid aliceblue;
        border-radius: 5px;
    }
}

.fakeCheckbox:hover::before,
.checkbox:hover+.fakeCheckbox::before {

    background-color: #820000;
}

.checkbox:checked+label::before {
    background-color: #820000;
}