.first-form {}

.first-form__input {
    margin-right: 20px;
    border: 4px solid black;
    outline: none;
    &:hover,
    &:focus {
        border-color: #820000;
    }
}

.first-form__input,
.first-form__btn {
    padding: 10px;
    font-size: 2rem;
    border-radius: 10px;
    transition: .2s all;
}

.first-form__btn {
    text-transform: uppercase;
    border: 0;
    background-color: #4E6C50;
    cursor: pointer;

    &:hover {
        color: aliceblue;
        scale: 90%;
    }
}

.first-form__inputs {
    margin-top: 20px;
}

.first-form__inputs-text {
    font-size: 2rem;
    font-weight: 700;
}