<form class="form__wrapper" [formGroup]="todoForm" (ngSubmit)="submitForm()">
    <label class="form__field-wrap">
        <input 
            class="form__input" 
            type="text" 
            formControlName="title"
            placeholder="Todo..."
        >
        <span 
            *ngIf="getControl('title')?.invalid && getControl('title')?.touched" 
            class="form__field-invalid"
        >
            Minimum 3 characters
        </span>
    </label>
    <button 
        type="submit" 
        class="form__button" 
        [disabled]="todoForm.invalid"
    >
        add
    </button>
</form>