.navigationWrap {
    display: flex;
    flex-wrap: nowrap;
    gap: 10px;
}

.navigation {
    text-transform: capitalize;
    font-size: 1.75rem;
    font-weight: 900;
    text-decoration: none;
    color: #820000;

    &:hover {
        text-decoration: underline;
    }
}

.mainWrap {
    padding-top: 80px;
}

.header {
    position: fixed;
    max-width: 1170px;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
    background-color: rgb(95, 99, 104);
    padding: 15px 10px;
}