
.title{
    text-align: center;
    font-weight: 900;
    font-size: 3rem;
    text-transform: capitalize;
    margin-bottom: 15px;
    color: aliceblue;
}

.paragraph{
    text-align: center;
    font-size: 1.5rem;
}