<div class="input__wrap">
    <label [for]="inputId" class="input__label">{{ label }}:</label>
    <input 
        class="input"
        [placeholder]="placeholder"
        [formControl]="control" 
        [type]="type" 
    >
    <div *ngIf="control.invalid && control.touched">
        <span class="input__invalid-text" *ngIf="control.errors?.required">
            The {{ label }} field is required
        </span>
        <span class="input__invalid-text" *ngIf="control.errors?.minlength">
            {{label | titlecase}} must be at least {{control.errors?.minlength.requiredLength}} characters long
        </span>
        <span class="input__invalid-text" *ngIf="control.errors?.maxlength">
            {{ label | titlecase }} must contain no more than {{control.errors?.maxlength.requiredLength}} characters
        </span>
        <span class="input__invalid-text" *ngIf="control.errors?.pattern">
            Invalid URL
        </span>
        <span class="input__invalid-text" *ngIf="control.errors?.min">
            Minimum {{ label }} is {{ control.errors?.min.min }}
        </span>
        <span class="input__invalid-text" *ngIf="control.errors?.max">
            Maximum {{ label }} is {{ control.errors?.max.max }}
        </span>
    </div>
</div>