@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@400;500;600;700&family=Poppins:wght@400;700&family=Roboto:wght@400;500;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.container {
    margin: 0 auto;
    width: 1200px;
    padding: 0;
}

.header-wrap {
    margin: 0 auto;
    width: 1900px;
    height: 1090px;
    background: url(assets/images/Vector\ 3.png) no-repeat,
        url(assets/images/Rectangle\ 236.png) no-repeat;

}

//header 

//logo

.header__logo {
    padding-top: 65px;
    padding-bottom: 80px;
}

// information

.header__info-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header__info-list {
    width: 470px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.header__info-title {
    font-family: 'Mitr';
    font-weight: 600;
    font-size: 72px;
    line-height: 80px;
    color: #2E8CAD;
}

.header__info-subtitle {
    color: #000000;
}

.services-item {
    margin-bottom: 14px;

    &:last-child {
        margin: 0;
    }
}

.services-item-wrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.services-item-text {
    font-weight: 500;
    color: #2E8CAD;
}

// contact us

.contact-us {
    width: 480px;
    height: 465px;
    background: #FFFFFF;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
    gap: 40px;
}

.contact-us-text {
    font-family: 'Mitr';
    font-weight: 600;
    font-size: 48px;
    line-height: 56px;
    color: #2E8CAD;
}

.contact-us-input-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 14px;
}

.input-area {
    width: 375px;
    height: 55px;
    background: #94D3EA;
    padding-left: 30px;
    border: 0;
    border-radius: 61px;
    color: #FFFFFF;
    font-size: 20px;
    cursor: default;

    &::placeholder {
        color: #FFFFFF;
        padding-left: 100px;
    }
}

.button {
    width: 168px;
    height: 56px;
    border-radius: 60px;
    font-size: 20px;
    font-weight: 500;
    position: relative;


    &.--input-submit {
        color: #94D3EA;
        border: 3px solid #94D3EA;
        background-color: #FFFFFF;
    }

    &.--help {
        border: 0;
        background: #2EBAEB;
        color: #FFFFFF;

        &::before {}
    }

    &:hover,
    &:active,
    &:focus {
        transition: .2s;
        cursor: pointer;
        border-color: #5295ad;
        opacity: .90;
    }
}

.button-back {
    width: 160px;
    height: 50px;
    position: absolute;
    left: 10px;
    top: 10px;
    border: 1px solid #2EBAEB;
    border-radius: 40px;
}

//about us section

.about-us-wrap {
    background-color: #FFFFFF;
    box-shadow: 0px 0px 50px rgba(18, 65, 82, 0.15)
}

.title {
    padding-top: 50px;
    margin-bottom: 50px;
}

.title-text {
    font-family: 'Mitr';
    font-weight: 600;
    font-size: 48px;
    line-height: 56px;
    color: #2E8CAD;
    text-align: center;

    &.testymonials-title-text {
        color: #FFFFFF;
    }
}

.about-us-info {
    display: grid;
    justify-content: center;
    grid-template-columns: 330px 330px 330px;
    grid-row: 115px 115px;
    row-gap: 60px;
    column-gap: 50px;
    margin-bottom: 50px;
}

.about-us-info-item {
    width: 330px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.about-us-info-item-num {
    width: 24px;
    height: 24px;
    border: 1px solid #2E8CAD;
    border-radius: 50%;
    font-family: 'Mitr';
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    color: #2E8CAD;
    text-align: center;
}

.about-us-info-item-text {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #4F4F4F;
}

.button-wrap {
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}

//services section

.services-wrap {
    background: #F2F2F2;
}

.services-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 50px;
}

.services-card {
    width: 385px;
    height: 505px;
    background: #FFFFFF;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    cursor: default;

    &:hover,
    &:active,
    &:focus {
        transition: .2s;
        opacity: .90;
    }
}

.services-card-img {
    margin-bottom: 30px;
}

.services-card-text {
    width: 325px;
    margin-left: 30px;
    color: #000000;

    &.--title {
        font-weight: 900;
        margin-bottom: 10px;
    }

    &.--subtitle {
        font-size: 14px;
        line-height: 20px;
    }
}

//testymonials section

.testymonials-wrap {
    background: #95D4EB;
}

.testymonials-card-list {
    display: grid;
    grid-template-columns: 580px 580px;
    grid-template-rows: 235px 235px;
    row-gap: 30px;
    column-gap: 45px;
    margin-bottom: 50px;
}

.testymonials-card-items {
    cursor: default;
    width: 580px;
    height: 235px;
    background: #FFFFFF;
    box-shadow: 0px 20px 20px rgba(129, 209, 255, 0.2);
    border-radius: 40px;
    padding: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &:hover,
    &:active,
    &:focus {
        transition: .2s;
        opacity: .85;
    }
}

.testymonials-card-img {
    width: 80px;
    height: 80px;
}

.testymonials-card-user-text {
    width: 420px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.testymonials-card-user-name {
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #50B2EA;
}

.testymonials-card-user-text {
    font-family: 'Poppins';
    font-size: 14px;
    line-height: 22px;
    color: #19435A;
}

.testymonials-card-stars {
    display: flex;
    flex-direction: row;
    gap: 7px;
}


.footer-wrap {
    height: 90px;
    background: #47626B;
}