.pageWrap {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.buttons {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.winrateWrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-transform: capitalize;
    gap: 10px;
    margin-top: 15px;
}

.topWrap {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 1px solid #FFF9D7;
    padding: 10px;
    border-radius: 10px;
}

.logsWrap {
    display: flex;
    max-height: 500px;
    flex-direction: column;
    gap: 10px;
    border: 1px solid #FFF9D7;
    padding: 10px;
    border-radius: 10px;
    white-space: nowrap;
    overflow: auto;
}

.logsProp {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 2fr 1fr 1fr 2fr 2fr;
    padding-bottom: 10px;
    border-bottom: 2px solid #FFF9D7;
    text-transform: capitalize;
}