@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@900&display=swap');

body {
    position: relative;
    background-color: #829460;
    font-family: 'Unbounded', cursive;
    font-weight: 900;
    overflow-x: hidden;
}

.body__toner {
    position: absolute;
    width: 100vw;
    height: 102%;
    background-color: rgba(0, 0, 0, .5);
    z-index: 3;
    top: -30px;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 30px auto;
    padding: 30px 15px;
    background-color: #90A17D;
}

.title {
    font-size: 4rem;
    text-align: center;
    padding-bottom: 15px;
    color: aliceblue;
}

.slider {
    position: relative;
    min-height: 250px;
    height: 60vh;
    overflow: hidden;
}

.button {
    font-size: 3rem;
    border: 0;
    position: absolute;
    z-index: 2;
    top: 50%;
    color: rgba(255, 255, 255, .6);
    background-color: rgba(0, 0, 0, .3);

    &:hover {
        color: rgba(255, 255, 255, 1);
        background-color: rgba(0, 0, 0, .5);
    }
}

.slider__image {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 1s all;
    opacity: 1;
}

.slider__image-opacity {
    opacity: 0;
}

.slider__next {
    right: 1rem;
}

.slider__prev {
    left: 1rem;
}

.dots {
    position: absolute;
    width: 100%;
    bottom: 20px;
    display: flex;
    justify-content: center;
    gap: 5px;
}

.dot {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 3px solid aliceblue;
    cursor: pointer;
    transition: .3s all;

    &-active {
        background-color: aliceblue;
    }
}

.js-images-bottom {
    position: absolute;
    width: 100%;
    height: 50px;
}

.slider__image-small {
    padding-top: 10px;
    width: 80px;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}

.slider__image-small--opacity {
    opacity: 0.5;

    &:hover {
        opacity: 1;
    }
}

.slider-wrap {
    height: 64vh;
}


.material-symbols-outlined {
    cursor: pointer;
}

.container--fluid {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

}

.full-image{
    position: absolute;
    z-index: 6;
    width: 90vw;
    max-height: 90%;
    object-fit: cover;
}