.home-page__title{
    font-size: 3rem;
    text-align: center;
    font-weight: 600;
    color: aliceblue;
}

.home-page__paragraph{
    font-size: 1.5rem;
    text-align: center;
    color: aliceblue;
}