@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Hind Siliguri', sans-serif;
    font-style: normal;
    font-weight: 400;
    margin: 0;
}

h1,
h2,
h3,
h4,
h6,
p {
    margin: 0;
}

.container {
    width: 1110px;
    margin: 0 auto;
}

// header 

// header wrapper 
.header__wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-top: 57px;
    margin-bottom: 105px;
}

// header list
.header__list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}

.header__item {
    padding-right: 40px;
    list-style-type: none;

    &:last-child {
        padding-right: 0px;
    }
}

.header__link {
    text-decoration: none;
    color: #292830;
    font-size: 18px;
    line-height: 95%;
}

//header button

.header__button {
    width: 160px;
    height: 48px;
    border: 1px solid #FF7235;
    border-radius: 8px;
    background-color: white;

    &:hover {
        transition: 0.2s;
        opacity: 75%;
    }
}

.header__button-a {
    text-decoration: none;
}

.header__button-text {
    font-size: 18px;
    line-height: 95%;
    color: #FF7235;
}

// hero section

.hero-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 210px;
    max-height: 478px;
}

.hero__text-but {
    height: 460px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

//hero text

.hero__text {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.hero__text-main {
    max-width: 540px;
    font-weight: 700;
    font-size: 96px;
    line-height: 100%;
    color: #292830;
}

.hero__text-subtitle {
    max-width: 540px;
    font-size: 24px;
    line-height: 39px;
    color: #BDBDBD;
}

//hero button

.hero__button-cta {
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero__text-button {
    width: 225px;
    height: 75px;
    background: #FF7235;
    border-radius: 8px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 18px 24px;
    border: none;
    cursor: pointer;
}

.hero__button-text {
    font-size: 24px;
    line-height: 39px;
    color: white;
}

.hero__text-left {
    font-size: 24px;
    line-height: 39px;
    color: #BDBDBD;
}

//hero image

.hero__img {
    max-width: 540px;
}

// promo section

// promo background and image
.promo__back-img {
    background-color: #FF7235;
    height: 710px;
    margin-bottom: 80px;
}

.promo-image {
    height: 625px;
    margin-top: 87px;
}

// brands
.promo__brands {
    margin-bottom: 210px;
}

.promo__brands-list {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0;
}

.brands-img {
    width: 130px;
}

// feature section

// feature text
.feature {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 280px;

}

.feature-text {
    width: 540px;
    height: 540px;
    display: flex;
    flex-direction: column;
    gap: 23px;
}

.feature-text-top {
    max-width: 172px;
    font-size: 22px;
    line-height: 36px;
    text-transform: uppercase;
    color: #BDBDBD;

}

.feature-text-title {
    max-width: 540px;
    font-weight: 700;
    font-size: 96px;
    line-height: 100%;
    color: #292830;
}

.feature-text-subtitle {
    max-width: 540px;
    font-size: 24px;
    line-height: 39px;
    color: #BDBDBD;
}

.learn-more-link {
    max-width: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    color: #FF7235;
}

.learn-more {
    font-size: 24px;
    line-height: 100%;
}


//feature image

.feature-img {
    max-width: 540px;
}

//product feature text section

.product-feat__text {
    max-height: 192px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 80px;
}

.product-feat__text-title {
    max-width: 730px;
    font-weight: 700;
    font-size: 96px;
    line-height: 100%;
    color: #292830;
}

.product-feat__text-subtitle {
    max-width: 350px;
    font-size: 24px;
    line-height: 39px;
    color: #BDBDBD;
}

//product feature cards section 

//cards list

.product-feat-cards-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 265px;
}

//cards border

.product-feat-cards-item {
    width: 350px;
    height: 350px;
    border-radius: 12px;

    &:hover,
    &:active,
    &:focus {
        cursor: pointer;
        border: 1px solid rgba(77, 77, 77, 0.233);
        border-radius: 12px;
        background-color: #dbdbdb2a;
    }
}

//cars ico

.product-feat-card-ico {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 63px 143px 24px 143px;

    &.yel {
        background: rgba(255, 189, 116, 0.05);
    }

    &.pink {
        background: rgba(226, 89, 139, 0.05);
    }

    &.blue {
        background: rgba(77, 18, 238, 0.05);
    }
}

// cards title

.product-feat-card-title {
    max-width: 165px;
    font-weight: 500;
    font-size: 30px;
    line-height: 100%;
    padding-left: 93px;
}

//cards subtitle

.product-feat-card-subtitle {
    max-width: 220px;
    font-size: 14px;
    line-height: 23px;
    color: #BDBDBD;
    text-align: center;
    padding-left: 65px;
    margin-right: 0;
}

//plans section

//plans text

.plans__text {
    margin-bottom: 80px;
}

.plans-text {
    font-weight: 700;
    font-size: 72px;
    line-height: 100%;
    text-align: center;
}

// plans cards

.plans__cards-list {
    display: flex;
    justify-content: space-between;
    margin-bottom: 245px;
}

.plans__card-item {
    width: 350px;
    height: 500px;
    display: flex;
    flex-direction: column;
    padding-left: 40px;
    gap: 24px;
}

.plans__card-item-ico {
    margin: 40px 0 24px 0;
}

.plans__card-item-title {
    font-weight: 600;
    font-size: 32px;
    line-height: 52px;

}

.plans__cards-item-list {
    margin: 0;
    list-style-type: none;
    padding: 0;
}

.plans__cards-list-item {
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
    list-style-image: url(assets/images/ic_baseline-check.png);
    list-style-position: inside;
}