.button {
    padding: 10px;
    border: 0;
    border-radius: 10px;
    text-transform: capitalize;
    font-size: 1.3rem;
    font-weight: 700;
    color: #820000;
    background-color: aliceblue;
    transition: scale .2s;
    cursor: pointer;

    &:hover {
        scale: 85%;
    }
}