.input{
    font-size: 1.5rem;
    padding: 5px;
    border-radius: 5px;
    border: 0;
    background-color: white;
    color: #820000;
    font-style: italic;
}

.text{
    font-size: 2rem;
    color: #820000;
    font-weight: 700;
    text-transform: capitalize;
}