<app-modal *ngIf="modalService.isVisible$ | async">
    <app-movie-form (movieSubmit)="postMovie($event)"></app-movie-form>
</app-modal>
<h1 class="movie-page__title">
    Movies list
</h1>
<p class="movie-page__paragraph">
    Below you will find a selection of movies that we highly recommend for your viewing pleasure. Each movie is accompanied by its title and year of issue, as well as a striking image to give you a sneak peek of what to expect.
    It is also possible to add a new movie
</p>
<div *ngIf="movies$ | async as movies">
    <app-movie-list>
        <app-movie-item 
            *ngFor="let movie of movies"
            [movie]="movie"
        />
    </app-movie-list>
    <span 
        class="movie-page__empty"
        *ngIf="!movies.length"
    >
        No movies yet, you can add
    </span>
</div>
<button
    class="movie-page__button"
    (click)="modalService.open()"
>
    +
</button>
    
