.todo-page__todos{
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: rgb(72, 136, 72);
}

.todo-page__empty{
    text-align: center;
    text-transform: capitalize;
    font-weight: 900;
    font-size: 1.75rem;
}