*{
    text-decoration: none;
    color: aliceblue;
}

.card {
    border-radius: 10px;
    border: 1px solid aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    gap: 10px;
    max-width: 320px;
    width: 100%;
    transition: all .3s;

    &:hover{
        scale: 90%;
    }
}

.image {
    width: 100%;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.propWrap {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.title {
    text-transform: capitalize;
    font-size: 1.5rem;
    font-weight: 700;
}

.text {
    font-size: 1.2rem;
    font-style: italic;
    color: rgb(172, 172, 172);
    text-transform: capitalize;
}

.dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: orange;
}

.dotA {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: green;
}
.dotD {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: red;
}

.statusWrap {
    display: flex;
    align-items: center;
    gap: 5px;
}