.navigation {
    position: fixed;
    top: 0;
    max-width: 1200px;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    padding: 20px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
    background-color: #242424;

}

.text {
    font-weight: 700;
    font-size: 2.5rem;
    cursor: pointer;
    color: aliceblue;
    text-decoration: none;
}

.navList {
    display: flex;
    gap: 10px;
    font-size: 2rem;
    font-style: italic;
}

.navItem {
    text-transform: capitalize;
    cursor: pointer;
    transition: .2s color;
    color: aliceblue;
    text-decoration: none;

    &:hover {
        color: grey;
        text-decoration: overline;
    }
}

.navItemActive {
    text-transform: capitalize;
    cursor: pointer;
    transition: .2s color;
    color: grey;
    text-decoration: overline;
    scale: 85%;
}