.cardsList{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
}

.btnWrap{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}